<nav class="nav justify-content-center">
  <a class="nav-link active" aria-current="page" href="#">Book a Flight</a>
  <a class="nav-link" href="#">Your Reservations</a>
  <a class="nav-link" href="#">Link</a>
</nav>
